/****************
  Global Styles
*****************/
.App {
    margin: 0;
    padding: 0;
    font-family: "Proxima Soft", sans-serif;

}

:root {
    --yellow: #F3B444;
    --red: #CB0202;
}

img {
    width:100%;
}

canvas {
    display: block;
}

.button {
    background: var(--yellow);
    color: white;
    padding: .75em 1.25em;
    font-size: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .025em;

}

/****************
  Header Styles
*****************/

header {
  padding: 4em 3em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.App-logo {
    height: 15vmin;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}


@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



/****************
  Nav Styles
*****************/
header .main-nav ul  {
    list-style-type: none;
    letter-spacing: .025em;
    font-size: 1.25em;
}


header .main-nav .nav-item {
    display: inline;
    padding: 1em;
}

header .main-nav .nav-item a {
    text-decoration: none;
    color: var(--red);
}

header .main-nav .nav-item a:hover {
    border-bottom: 2px solid var(--red);
}


.nav-focus a {
    border-bottom: 2px solid var(--red);
}


/****************
  Main Styles
*****************/


main {
    padding: 2em 3em;
    position: relative;
}

/****************
  Home Styles
*****************/
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;

}


/****************
  About Styles
*****************/
.about {
    font-size: 3em;
    line-height: 1.25em;
    color: var(--red);
}




/****************
  Footer Styles
*****************/

footer {
    text-align: center;
    padding: 5em 0 1em 0;
    width: 100%;
}